{{! Previous/next page links - only displayed on page 2+ }}

{{! This is the post loop - each post will be output using this markup }}

<div class="isotope">
{{#foreach posts}}
	{{#if image}}
        <div data-id="{{url}}" class="item">
        	<a class="item-title" href="{{url}}"><span>{{{title}}}</span></a>
            <img src="{{image}}" />
        </div>
    {{/if}}
{{/foreach}}
</div>
